<header class="tc ph4">
  <h1 class="f3 f2-m f1-l fw2 black-90 mv3">
    Add Shop to Favorites
  </h1>
</header>

<main class="pa4 black-80 center measure">
  <%= form_with model: @user_skate_shop do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    Skate Shops: 
    <p><%= f.collection_select :skate_shop_id, SkateShop.all, :id, :name %></p>
    <p><%= f.submit "Submit", :class => "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %></p>
    <% end %>
</main>