<header class="sans-serif">
  <div class="cover bg-left bg-center-l" style="background-image: url(https://images.unsplash.com/photo-1536318431364-5cc762cfc8ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
    <div class="bg-black-50 pb5 pb6-m pb7-l">
      <nav class="dt w-100 mw8 center"> 
      </nav> 
      <div class="tc-l mt4 mt5-m mt6-l ph3">
        <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">Session is an app for skaters, by skaters
        <h2 class="fw1 f3 white-80 mt3 mb4">Discover the best skate spots, skate parks, skate shops in NYC</h1>
        </h2>
        <% if user_signed_in? %>
          <%= link_to "Get Started", user_path(current_user), :class => "f3 grow link dim ph3 pv2 mb2 dib white bg-blue" %>
        <% else  %>
          <%= link_to "Sign In", new_user_session_path, :class => "f3 grow link dim ph3 pv2 mb2 dib white bg-blue" %>
        <% end %>
      </div>
    </div>
  </div> 
</header>

<div class="dt-ns dt--fixed-ns">
  <div class="dtc-ns tc pv4">
    <h1 class="f4 mw6 center">Thrasher Magazine</h1>
    <iframe width="95%" height="700" src="//rss.bloople.net/?url=https%3A%2F%2Fwww.thrashermagazine.com%2F%3Fformat%3Dfeed%26type%3Drss&limit=20&showtitle=false&showicon=true&type=html"></iframe>
  </div>
  <div class="dtc-ns tc pv4">
    <h1 class="f4 mw6 center">Transworld Skateboarding</h1>
    <iframe width="95%" height="700" src="//rss.bloople.net/?url=https%3A%2F%2Fskateboarding.transworld.net%2Ffeed%2F&limit=20&showtitle=false&showicon=true&type=html"></iframe>
  </div>
  <div class="dtc-ns tc pv4">
    <h1 class="f4 mw6 center">Jenkem Magazine</h1>
    <iframe width="95%" height="700" src="//rss.bloople.net/?url=http%3A%2F%2Fwww.jenkemmag.com%2Fhome%2Ffeed%2F&limit=20&showtitle=false&showicon=true&type=html"></iframe>
  </div>
</div>
